{% extends 'base.html.twig' %}

{% block title %}My settings{% endblock %}

{% block body %}
<div class="row mt-5 mb-5">
<div class="col-3">
	{# nawigacja #}
	{% include 'user/panel/navigation.html.twig' %}
</div>
<div class="col-9 border-left border-dark">
	{# content #}
	<h2 class="handwirteing ">My Settings</h2><br>

	<table class="table ml-auto mr-auto" style="width: 80%">
		<tbody>
			<tr>
				<td><strong>Photo:</strong></td>
				
				<td>
				{% if user.photo is null %} 
					<img src="{{ asset('img/blank-AVATAR.png' ) }}" class="face-picture-big" alt="">
				{% else %}
					<img src="{{ asset('uploads/users/' ~ user.photo ) }}" class="face-picture-big" alt="">
				{% endif %}
				</td>
				<td>
				<ul class="nav flex-column nav-fill">
						<li class="nav-item">
							<a class="nav-link " href="{{ path('user.panel.edit', {'view': 'photo'}) }}">
								<button type="button" class="btn btn-outline-light black-text">
									<i class="fas fa-pen "></i> 
									edit
								</button>
							</a>
						</li>
					</ul>
				</td>   
			</tr>
			<tr>
				<td><strong>Username:</strong></td>
				<td> {{ user.username }} </td>
				<td></td>
			</tr>
			{% if is_granted('ROLE_ADMIN') %}
			
			{% endif %}
			<tr>
				<td><strong>Full name:</strong> </td>
				<td> {{ user.name }} </td>
				<td>
					<ul class="nav flex-column nav-fill">
					<li class="nav-item">
						<a class="nav-link " href="{{ path('user.panel.edit', {'view': 'name'}) }}">
							<button type="button" class="btn btn-outline-light black-text">
								<i class="fas fa-pen "></i> 
								edit
							</button>
						</a>
					</li>
					</ul>
				</td>
			</tr>
			<tr>
				<td><strong>Email:</strong> </td>
				<td> {{ user.email }} </td>
				<td>
					<ul class="nav flex-column nav-fill">
						<li class="nav-item">
							<a class="nav-link " href="{{ path('user.panel.edit', {'view': 'email'}) }}">
								<button type="button" class="btn btn-outline-light black-text">
									<i class="fas fa-pen "></i> 
									edit
								</button>
							</a>
						</li>
					</ul>
				</td>
			</tr>     

			{# AUTHORS ONLY #}
			{% if is_granted('ROLE_ADMIN') %}

			<tr>
				<td><strong>About:</strong> </td>
				<td> 
				{% if user.about is null %}
				
				{% else %}
				{{ user.about }}
				{% endif %}
				</td>    
				<td>
				<ul class="nav flex-column nav-fill">
					<li class="nav-item">
						<a class="nav-link " href="{{ path('user.panel.edit', {'view': 'about'}) }}">
							<button type="button" class="btn btn-outline-light black-text">
								<i class="fas fa-pen "></i> 
								edit
							</button>
						</a>
					</li>
				</ul>
				</td>
			</tr>

			{% endif %}
			<tr>
			<td colspan="3"></td> 
			</tr>
		</tbody>
	</table>
</div>
</div>
{% endblock %}
