{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <h1 class="banner">MyBlog</h1>
    
</div>
<div class="row justify-content-center">
<h2 class="handwirteing mb-5 font-italic text-center">How to make milions and change your life in thirty seconds without leaving your room</h2>
</div>

<table class="table">
    <tbody>
    <tr class="row">
        {# LIST OF ARTICLES #}
        <td class="col-9 ">
            <div class="pr-4">
                <h1 class="article-title bg-light text-center mb-4">About Us</h1>
                
                <div class="row">
                    <h2 class="handwirteing border-bottom">Who we are?</h2>
                </div>
                <div class="row p-3">
                    <p>
                        Vestibulum venenatis eget urna vitae blandit. Cras id mi eu ligula volutpat blandit eu eget ante. Mauris est velit, tempus tempus convallis quis, vulputate non mi. Donec maximus mollis velit, a tempor ante ullamcorper luctus. Donec ultrices est et leo tempor consectetur. Maecenas eget imperdiet dui. Ut quis molestie erat. Vestibulum et justo pharetra, porta nunc quis, fringilla tortor. Donec vitae blandit lorem, et tempus lorem. Curabitur consectetur congue suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc quis consectetur tortor.   
                    </p>
                </div>
                    
                <img src="{{ asset('uploads/aboutUS/who_we_are.png') }}" class="article-picture mb-5" alt="">

                <div class="row">
                    <h2 class="handwirteing border-bottom">Why we do this?</h2>
                </div>

                <div class="row p-3">
                    <p>
                        Maecenas elementum quis nunc ac malesuada. Aliquam at ligula velit. Cras ultricies ante eu pharetra varius. Vivamus sed commodo sapien, eget laoreet sem. Nulla vitae nulla eleifend tortor efficitur facilisis. Vivamus non nulla libero. Quisque tempor sem at magna dictum scelerisque. In convallis ante vitae lectus aliquet, vel vehicula massa euismod. Sed facilisis erat sed enim interdum semper. Fusce nec fermentum mauris, id sodales nunc. Mauris sit amet sapien ac purus tristique blandit. Vivamus vitae massa et risus faucibus mollis quis ac diam. Phasellus ut lorem quis nisi imperdiet commodo ac non turpis. Integer tempus mi justo, at rhoncus nunc efficitur suscipit. Praesent non condimentum massa. Cras at pretium est.
                    </p>
                </div>
            
                <div class="row">
                        <h2 class="handwirteing border-bottom">We belive in hard work...</h2>
                </div>

                <div class="row p-3">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi nisi velit, faucibus et ultricies id, rutrum quis diam. Nullam tincidunt leo non faucibus lacinia. Maecenas in est vitae lectus ultricies aliquam in vel libero. Duis arcu magna, molestie et fermentum eu, ultrices a ex. Cras porttitor, tortor quis malesuada placerat, nibh purus vehicula velit, id vestibulum erat dui in arcu. Vivamus a erat cursus, vehicula orci id, blandit magna. Integer volutpat, tellus eu convallis imperdiet, sapien odio pulvinar ex, at aliquet massa sapien nec ante. Suspendisse cursus vestibulum congue. Ut blandit vehicula nulla quis auctor. Cras non egestas mauris.
                    </p>
                </div>

                
                <img src="{{ asset('uploads/aboutUS/hard_work.jpg') }}" class="article-picture mb-5" alt="">

                <div class="row">
                    <h2 class="handwirteing border-bottom">...and teamwork</h2>
                </div>
                <div class="row p-3">
                    <p>
                        Cras quis sodales odio. Cras urna elit, auctor non molestie sed, dictum vel lectus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nunc porttitor est eget tortor vulputate maximus. Donec sed erat ligula. Vestibulum dictum sit amet nisl quis mollis. Proin in leo iaculis, pulvinar nunc in, aliquam tortor. Fusce eget mattis lorem, quis porta neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed rutrum felis tortor, et sollicitudin lacus rutrum quis. Duis est odio, aliquet in feugiat vehicula, pharetra et odio. Etiam et arcu quis mauris tempus pharetra. Mauris id commodo est, non congue odio.                   
                    </p>
                </div>

                <img src="{{ asset('uploads/aboutUS/teamwork.png') }}" class="article-picture mb-5" alt="">

                <div class="row">
                    <h2 class="handwirteing border-bottom">From all over the world</h2>
                </div>
                <div class="row p-3">
                    <p>
                        Fusce condimentum pellentesque nunc, quis semper nisi bibendum sit amet. Cras mollis, ligula sed imperdiet pretium, mauris felis ultricies lectus, vitae sodales ante eros vel arcu. Morbi nec arcu in massa scelerisque mollis. Aenean aliquet ex ligula, quis suscipit magna rhoncus et. Sed suscipit dui nec nibh gravida porta. Sed eget purus at augue sollicitudin commodo at nec felis. Praesent laoreet viverra placerat. Cras neque risus, consequat non tortor a, ullamcorper aliquam tellus. Nulla porta rhoncus augue, sed aliquam ipsum. Suspendisse ut arcu nunc. Duis imperdiet interdum imperdiet. Morbi eget dolor rutrum, convallis metus hendrerit, consectetur nulla.                    
                    </p>  
                </div>
                
                <img src="{{ asset('uploads/aboutUS/world.png') }}" class="article-picture mb-5" alt="">

                <div class="row justify-content-center">
                    <h2 class="handwirteing border-bottom ">Would you like to become an author?</h2>
                </div>
                <div class="row justify-content-center">                   
                    <h2 class="handwirteing  "> Contact us:</h2>
                </div>
                <div class="row justify-content-center">
                    <a class="no-underline"  href="{{ path('contact') }}">
                        <h2 class="article-title ">Go To Contact Page</h2>
                    </a>
                </div>
        
            </div>
                
        </td>

        {# SIDEBAR #}
        <td class="col-3">

            {% include 'homepage/sidebar.html.twig' %}

        </td>
    </tr>
    </tbody>
</table>

{% endblock %}
